.section {
  padding: 2rem;
  color: #fff;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.section-title {
  color: white; /* Fixes invisible heading */
  font-size: 1.5rem;
}

.toggle-btn {
  background-color: transparent;
  border: 1px solid #34c94b;
  color: #34c94b;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: flex-start;
}
/* Section.css */
.MuiTab-root {
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}

.MuiTabs-indicator {
  background-color: #00ff84;
}
.section-content {
  padding: 0 20px; /* Adds space on both sides */
}
